form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #ebf9ff;
    padding: 5rem 8rem;
    border-radius: 5px;
}

form div{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

form div input, label{
    margin: 0rem 1rem; 
    font-size: 1.2rem;
    padding: 0rem .5rem
}

form button{
    background-color: black;
    color: whitesmoke;
    padding: .5rem;
    margin: 1rem 8rem;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 1500px) {

    form{
        padding: 1rem;
        margin: 0rem 1rem 1rem 1rem;
    }
    
}

