form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgb(224, 237, 243);
    padding: 2rem;
    border-radius: 5px;
}

form div{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

form div input, label{
    margin: .5rem 1rem; 
    font-size: 1.2rem
}

input[type="radio"] {
    margin-top: 1.5rem;
    -ms-transform: scale(2.5); 
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
}

form button{
    background-color: black;
    color: whitesmoke;
    padding: .5rem;
    margin: 1rem 8rem;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
}