header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ebf9ff;
}

header div img{
    width: 5rem;
    margin-left: 0.5rem;
}

header nav{
    display:flex;
    justify-content:space-around;
    margin: 2rem;
}

header nav a{
    text-decoration:none;
    text-transform:uppercase;
    font-size: .9rem;
    color:#050505;
    margin: 0rem 1rem;
}

header nav a:hover{
    text-decoration:none;
    text-transform:uppercase;
    color:#52c0f7;
}