
.container__header{
    background-color: rgb(23, 26, 23);
    display: flex;
    justify-content:space-around;
    padding: 1rem;
}

.container__header div{
    display: flex;
    justify-content:space-between;
}

.container__hrefs a{
    color: whitesmoke;
    margin: 0rem .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container__hrefs a:hover{
    color: rgb(30, 145, 221);
}

.logo__text a{
    color: whitesmoke;
    font-weight:bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo__text span{
    color: whitesmoke;
    font-size: 2.2rem;
}

.container__status__login a{
    color: whitesmoke;
    margin: 0rem .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container__status__login span{
    color: whitesmoke;
}