
.container__home{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 2rem;
}

.container__home div:nth-child(2){
    margin: 0rem 4rem;
}

.container__results img{
    width: 10%;
}

.container__results a {
    text-transform: uppercase;
    text-decoration: none;
}

.ingress{
    color: rgb(92, 146, 92)!important;
}

.egress{
    color: rgb(233, 139, 139)!important;
}

.MuiTableCell-head {
    font-weight: bold!important;
}

@media only screen and (max-width: 1200px) {

    .container__home{
        flex-direction: column;
    }

    .resulting div{
        margin: 2rem;
        padding: 0rem;
        font-size: 1rem;
        }
        

    .resulting div:nth-child(1){
        background-color: rgb(224, 237, 243);
        padding: 1rem 5rem;
        margin-bottom: 0;
    }

    .resulting div img{
        width: 8rem;
        margin: 0rem;
    }


}