.container__home{
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding:1rem;
}

.resulting div{
display: flex;
flex-direction: column;
justify-content:center;
align-items:center;
font-size: 2rem;
border-radius: 5px;
margin: 5rem 2rem;
}

.resulting div img{
  width: 10rem;
}

.resulting div:nth-child(1){
    background-color:#ebf9ff;
    padding: 2rem 8rem 0rem 8rem;
    margin-bottom: 1rem;
}

.ingress{
    color: rgb(92, 146, 92);
}

.egress{
    color: rgb(233, 139, 139);
}

.value__balance{
display: flex;

}

.total__balance{
    font-weight: bold;
    font-size: 2rem;
}

@media only screen and (max-width: 1200px) {

    .container__home{
        flex-direction: column;
    }

    .resulting div{
        margin: 2rem;
        padding: 0rem;
        font-size: 1rem;
        }
        

    .resulting div:nth-child(1){
        background-color: rgb(224, 237, 243);
        padding: 1rem 5rem;
        margin-bottom: 0;
    }

    .resulting div img{
        width: 8rem;
        margin: 0rem;
    }


}