.container__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
}

.container__login div{
    display: flex;
    flex-direction: column;
    margin: .2rem;
    text-align: center!important;
    justify-content: center!important;
}

.container__login input{
    text-align: center!important;
}

