.container__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
}

.container__login div{
    display: flex;
    flex-direction: column;
    margin: .2rem;
    text-align: center!important;
    justify-content: center!important;
}

.container__login input{
    text-align: center!important;
}

.container__login div:nth-child(3) span:nth-child(2){
    margin-top: 1rem;
    font-size: .8rem;
}

.container__login div:nth-child(3) a{
   color: rgb(25, 92, 194); 
   text-decoration: none
}