img{
    width: 1rem;
}

.container__modify div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.container__modify div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}