.container__operations{
    margin-top:5rem;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.container__icons__operation{
    display: flex;
    justify-content:space-around;
}

.container__icons__operation img{
    width:1rem;
}

th,td{
    font-size: .8rem;
}

@media only screen and (max-width: 1500px) {

    .container__operations{
        margin-top:1rem;
        flex-direction:column;
    }
}
    