
.container__modify{
   display: flex;
   flex-direction: center;
   justify-content: center;
   margin-top: 8rem;
}

.modify__cancel{
   margin-top: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media only screen and (max-width: 768px) {
   .container__modify{
      margin-top: 2rem;
   }

   input,label{
      font-size: .8rem!important;
   }
}